@model IEnumerable<Assignment3v2KendallBramlett.Models.Actors>

@{
    ViewData["Title"] = "Index";
}


<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<style>
    body {
        background-image: url("https://htmlcolorcodes.com/assets/images/colors/pastel-purple-color-solid-background-1920x1080.png");
        background-repeat: no-repeat;
    }
</style>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IMBDLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Headshot)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                 @Html.DisplayFor(modelItem => item.IMBDLink)
             </td>
            <td>
                    @if(item.Headshot != null)
                    {
                       <img width="100" height="100" src="@Url.Action("GetHeadshot","Actors", new{item.Id})" />
                    }   
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
